@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

header {
    /* background-color:#cccccb; */
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

header h1 {
    color: rgb(51, 204, 204);
    font-family: poppins;
    font-size: 60px;
    font-style: bold;
}

header h2 {
    font-family: poppins;
    align-items: right;
    color: #ffff99;
}


.logo {
    width: 300px;
    height: 300px;
}

.img-logo {
    display: flex;
    float: left;
}

.name {
    align-content: center;
    display: grid;
}


/* start nav styling */
nav {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
nav a {
    background-position: bottom;
    margin-right: 10px;
    padding: 5px 10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
    margin-left: 300px;
}

nav ul a {
    text-decoration: none;
    color: #ffff99;
    background-color: #cccccB;
    font-family: poppins;
    
}

.nav-bar {
    display: flex;
    background-color: white;
    justify-content: flex-end;
}

.nav-bar li {
    margin-left: 5px;
    margin-right: 5px;
}
/* end nav styling */

/*start main content*/
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin-left: 50px;
    
    
}

.container-item {
    flex: 1;
    

}

.container-title {
    float: left;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: poppins;
    color: rgb(51, 204, 204);
    
}

.container-content {
    padding: 20px;
    margin-left: 100px;
    
}

.container-content p {
    padding: 0 60px;
    color: rgb(51, 204, 204)
}

.container-content a {
    padding: 0 15px;
}

#about-me {
    padding: 30px;
    border-right: solid 5px;
    
}

#work {
    padding: 50px;
    border-right: solid 5px;
}

#contact {
    padding: 18px;
    border-right: solid 5px;
}

/* grid styling */
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0 20px;
}
    
.item1 { 
    grid-area: 1 / 1 / 5 / 5; 
    
}
.item2 { 
    grid-area: 5 / 1 / 7 / 3; 
}
.item3 {
     grid-area: 5 / 3 / 7 / 5; 
}
.item4 { 
    grid-area: 1 / 5 / 3 / 7; 
}
.item5 {
     grid-area: 3 / 5 / 5 / 7; 
}

.grid-container img {
     width: 100%;
     border: solid 2px #ffff99;
}

.grid-container span {
    background-color: #cccccB;
    color: #ffff99;
    font-family: poppins;


}