@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

header {
    background-color:#cccccB;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

header h1 {
    color: rgb(51, 204, 204);
    font-family: poppins;
    font-size: 60px;
    font-style: bold;
}

header h2 {
    font-family: poppins;
    align-items: right;
    color: white;
}


.logo {
    width: 300px;
    height: 300px;
}

.img-logo {
    display: flex;
    float: left;
}

.name {
    align-content: center;
    display: grid;
}


/* start nav styling */
nav {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
nav a {
    background-position: bottom;
    margin-right: 10px;
    padding: 5px 10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
    margin-left: 300px;
}

nav ul a {
    text-decoration: none;
    color: #ffff99;
    background-color: #cccccB;
    font-family: poppins;
    
}

.nav-bar {
    display: flex;
    background-color: #cccccb;
    justify-content: flex-end;
}

.nav-bar li {
    margin-left: 5px;
    margin-right: 5px;
}
/* end nav styling */


.container {
    display: flex;
    
        flex-direction: column;
        width: 100%;
        height: 300px;
        margin-left: 50px;
      

}

.container-item {
    flex: 1;

}

.container-title {
    float: left;
    border-right: solid 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-content {
    padding: 20px;
    margin-left: 20px;
}

#about-me {
    padding: 30px;
    
}

#work {
    padding: 50px;
}

#contact-me {
    padding: 17px;
}